.fallback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 4rem;
  padding: 1rem;
  color: lightseagreen;
  text-decoration-line: underline;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 3.6rem;
  }
}

.login-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  margin-bottom: 24px;
  border-radius: 5px;
}
