.sign-out {
  height: 30px;
  padding: 4px;
  margin: 4px;
  border-radius: 5px;
  border: 2px solid lightseagreen;
  background-color: rgb(255, 255, 255, 0.6);
  font-family: inherit;
  cursor: pointer;
}
