.form-container {
  display: grid;
  padding: 0.5rem;
}

.input {
  padding: 0.5rem;
  font-size: inherit;
  border: 2px solid black;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-image {
  padding: 0.5rem 0;
}

.label {
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
  padding-top: 0.3rem;
}

.textarea {
  font-family: oswald;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.ingredient-container {
  display: grid;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid black;
  padding: 1rem;
  gap: 0.3rem;
}

.button {
  background-color: lightseagreen;
  padding: 0.8rem 1.5rem;
  border-radius: 0.6rem;
  color: black;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.3rem;
  border: none;
  color: white;
  box-shadow: 1px 2px 2px black;
}

.more-button {
  composes: button;
  background-color: lightcoral;
  margin-bottom: 0.5rem;
}
