.form-container {
  display: grid;
  padding: 0.5rem;
}

.input {
  padding: 0.5rem;
  font-size: inherit;
  border: 2px solid black;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.label {
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
}

.textarea {
  font-family: inherit;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.ingredient-container {
  display: grid;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid black;
  padding: 1rem;
}

.button {
  background-color: lightseagreen;
  padding: 0.8rem 1.5rem;
  border-radius: 0.6rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.more-button {
  background-color: lightsalmon;
  padding: 0.8rem 1.5rem;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}
