.welcome-message {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 1rem 1.5rem 1rem;
}

.profile-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.5rem;
  gap: 0.8rem;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 1rem;
}
