.back-button {
  position: fixed;
  top: 25px;
  right: 25px;
}

.button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: lightsalmon;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
