.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  gap: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-card {
  padding: 1.5rem;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 8px;
}

.title {
  font-size: 1.5rem;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
}

.description-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5rem 0;
}

.button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: lightsalmon;
  padding: 0.8rem 1.5rem;
  border-radius: 0.6rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.back-button {
  position: fixed;
  top: 25px;
  right: 25px;
}
