.link-text {
  font-size: 1.6rem;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: lightseagreen;
  border-radius: 5px;
  padding: 10px;
}
