.header-container {
  display: flex;
  justify-content: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  padding: 1rem;
}
