.header-container {
  display: flex;
  justify-content: center;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 1rem;
}

.title {
  font-size: 3rem;
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: green;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
}

.link-text {
  font-size: 1rem;
}

.button {
  border: none;
  color: green;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5px;
}
