.header-container {
  display: flex;
  justify-content: center;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 1rem;
}

.title {
  font-size: 3rem;
  padding: 1rem;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: green;
  border-radius: 5px;
  padding: 10px;
}

.link-text {
  font-size: 1.2rem;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  color: green;
  border-radius: 5px;
  padding: 5px;
  background: transparent;
  font-family: inherit;
}
