.product-card {
  background-color: rgb(255, 255, 255, 0.4);
  border: 2px solid lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 45vh;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  gap: 0.6rem;
}

.title {
  font-size: 2rem;
}
