.search-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.search-input {
  padding: 12px 35px;
  border-radius: 8px;
  border: 2px solid lightseagreen;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255, 0.5);
  background-image: url("../../lib/search-icon.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px 12px;
  transition: all 0.2s ease-in-out;
}

.list-container {
  padding: 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.no-result {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
