.custom-container-class {
  padding: 0;
}

.custom-container2-class {
  box-shadow: none;
}

.custom-title-class {
  padding: 0;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-family: inherit;
  padding: 1rem;
}

.button {
  background-color: lightseagreen;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  font-family: inherit;
  box-shadow: 1px 2px 2px black;
  color: white;
}
