.overview-container {
  padding: 1rem 2rem 2rem 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.product-card {
  background-color: rgb(255, 255, 255, 0.5);
  border: 2px solid lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.recipe-name {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  margin-top: 1.2rem;
  justify-self: center;
  color: black;
}

.link {
  text-decoration: none;
}

.no-result {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 3rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(255, 255, 255, 0.5);
}
