.random-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.button {
  background-color: lightsalmon;
  padding: 0.7rem;
  border-radius: 0.6rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  font-family: inherit;
}
